extends layout

block content
  div
   h1 Select a beer
   form(action="/get-EITB-songs" method="POST")
    select
     option IPA
     option Pale Ale
     option Pilsner
     option Stout
     option Porter

    button(type="submit") Submit
