extends layout

block content
  div(style="width: 30%;")
   h1 Select a beer
   form(action="/get-EITB-songs" method="GET")
    //select
     option(value="" disabled selected) Choose a beer
     option(value="IPA") IPA
     option(value="Pale Ale") Pale Ale
     option(value="Pilsner") Pilsner
     option(value="Stout") Stout
     option(value="Porter") Porter
   
    div.imd-select
     span.imd-selector Choose a beer
     ul.imd-select-list
      li(data-value="IPA") IPA
      li(data-value="Pale Ale") Pale Ale
      li(data-value="Pilsner") Pilsner
      li(data-value="Sour") Sour
      li(data-value="Stout") Stout
      li(data-value="Porter") Porter
      input(type="hidden" name="beerType" value="")


    button(type="submit") Submit

