body {
	padding: 0;
	margin: 0;
	font: 14px "Roboto", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fdbc53;
}

a {
  color: #00B7FF;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.wrapper h1 {
	font-weight: 700;
	font-size: 2.5em;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	text-align: center;
	color: #333;
}

.wrapper form {
	display: block;
	width: 90%;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
}

.wrapper form select {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	border: 3px solid #333333;
	border-radius: 0;
	background: transparent;
	padding: 1rem 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #333333;
}

.imd-select {
	position: relative;
	margin: 1.5em auto 0 auto;
	width: 100%;
}

.imd-selector {
	display: block;
	padding: 1rem 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #333333;
	background-color: transparent;
	border: 3px solid #333333;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.imd-selector:after {
	content: '\f078';
	color: #333;
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.imd-select-list {
	display: none;
	position: absolute;
	list-style: none;
	width: 100%;
	padding: 0;
	margin-top: 0;
	background: #fdbc53;
}

.imd-select-list li {
	margin: 0;
	padding: 1em;
	border-bottom: 3px solid #333;
	border-right: 3px solid #333;
	border-left: 3px solid #333;
	border-top: 0;
	padding: 1rem 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #333333;
}

.imd-select-list li:hover {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.wrapper form button {
	appearance: none;
	-webkit-appearance: none;
	margin-top: 25px;
	width: 100%;
	background: #333;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	padding: 1rem 0.5rem;
	border: 0;
	box-shadow: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

/* Results page */
.wrapper .content h1 {
	color: #ffffff;
	background: #333;
	padding: 15px;
}

.wrapper .track {
	box-shadow: 0 1px 9px 0 rgba(38,36,30,.09);
	width: 300px;
	margin: 0 auto;
}

.wrapper .track img {
	display: block;
}

.wrapper .track .info {
	position: relative;
	top: 0;
	padding: 1rem;
	background: #fff;
	text-align: center;
}

.wrapper .track .info h3 {
	margin-top: 0;
}

.wrapper .track .info .toggle {
	display: inline-block;
	background: #fdbc53;
	color: #ffffff;
	padding: 0.5rem 1rem;
	margin-bottom: 15px;
	font-weight: 700;
	text-align: center;
	width: 35%;
}

.wrapper .track .info .toggle:hover {
	cursor: pointer;
}

.wrapper .track .info a {
	color: #333333;
}

.pick {
	display: block;
	text-align: center;
	margin-top: 25px;
	color: #333333;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
}

.pick i {
	margin-left: 5px;
}













